{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header class="position-relative overflow-hidden text-center bg-secondary d-flex justify-content-center align-items-center vh-100" style="background-image: url({{ asset('build/img/garde.jpg') }});">
    <div class="col-md-8 p-lg-5 my-auto">
        {# <h1 class="display-4 fw-normal">Snow Tricks</h1> #}
        <p class="lead fw-normal text-white display-6">
            Rejoignez une communauté passionnée de snowboarders et partagez vos tricks sur notre site dédié aux figures de snowboard !
        </p>
        <i class="fas fa-angle-double-down fa-3x text-white position-absolute bottom-0 start-50 translate-middle-x mb-5"></i>
        {# <a class="btn btn-outline-secondary" href="#">Coming soon</a> #}
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</header>
<main class="container py-5">
    <div class="row justify-content-around">
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 m-3 text-center shadow border">
            <img src="{{ asset('build/img/garde.jpg') }}" height="100px" alt="">
            <div class="row mt-3">
                <div class="col text-start">
                    <p>Trick name</p>
                </div>
                <div class="col-auto">
                    <i class="fa-sharp fa-solid fa-pencil"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col-12">
                <button class="btn btn-lg btn-primary ">
                    Add trick
                    <div class="spinner-grow" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</main>
{% endblock %}
