{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<header class="position-relative overflow-hidden text-center bg-secondary d-flex justify-content-center align-items-center vh-100" style="background-image: url({{ asset('build/img/garde.jpg') }});">
    <div class="col-md-8 p-lg-5 my-auto">
        <p class="lead fw-normal text-white display-6">
            Rejoignez une communauté passionnée de snowboarders et partagez vos tricks sur notre site dédié aux figures de snowboard !
        </p>
        <a class="text-black position-absolute bottom-0 start-50 translate-middle-x mb-5 btn btn-outline-secondary border-0" href="#main">
            <i class="fas fa-angle-double-down fa-3x"></i>
        </a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</header>
<main id="main" class="container py-5">
    <div class="row justify-content-around">
        {% for trick in tricks %}
        <div class="col-lg-2 mb-3 mx-1 p-0 text-center shadow border">
            <img src="{{ asset('uploads/images/tricks/' ~ trick.miniature) }}" class="mini" width="100%" alt="">
            <div class="row p-2 d-flex flex-nowrap">
                <div class="col-7 text-start text-truncate">
                    <a href="{{ path('app_show_trick', {'id': trick.id}) }}" class="">{{ trick.name }}</a>
                </div>
                <div class="col-5 text-end d-flex flex-nowrap">
                    <a class="me-3" href="{{ path('app_edit_trick', {'id': trick.id}) }}"><i class="fa-sharp fa-solid fa-pencil"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
