{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block _action %}
    <section class="container p-0">
        <div id="trick-header" class="position-relative">
            {% if trick.miniature %}
                <img src="{{ asset('uploads/images/tricks/' ~ trick.miniature) }}" alt="miniature {{ trick.name }}">
            {% else %}
                <img src="{{ asset('core/img/default_mini.png') }}" alt="miniature par défaut">
            {% endif %}
            {% if trick  and trick.images | length > 0 and is_granted('ROLE_USER') %}
            <div class="position-absolute top-0 end-0 m-3 p-1 border border-dark rounded">
                <a href="{% if app.request.get('_route') == 'app_show_trick' %}{{ path('app_edit_trick', {'id': trick.id}) }}{% else %}{{ path('app_change_miniature', {'id': trick.id}) }}{% endif %}" class="btn btn-outline"><i class="fas fa-pencil-alt text-warning"></i></a>
                {% if trick.miniature %}
                    <button type="button" class="btn btn-outline" data-bs-toggle="modal" data-bs-target="{% if app.request.get('_route') == 'app_show_trick' %}#deleteTrickModal{% else %}#deleteMiniatureModal{% endif %}"><i class="fas fa-trash-alt text-danger"></i></button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </section>
    {% endblock %}

{% block body %}
<div class="container mb-5 pb-3">
    {% if form is defined %}
        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form, {'attr': {'class': 'text-center py-3'}}) }}
        <div class="row align-items-center justify-content-center">
            <div class="col-auto mb-3">
                <label for="trick_images">Ajouter des images: </label>
            </div>
            <div class="col-auto mb-3 me-md-5">
                {{ form_widget(form.images, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto mb-3">
                <button type="button" class="btn btn-success btn" data-bs-toggle="modal" data-bs-target="#addVideoModal"><i class="fas fa-plus"></i> Ajouter des vidéos</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="addVideoModal" tabindex="-1" aria-labelledby="addVideoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addVideoModalLabel">Ajouter des vidéos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body z-index-1">
                        <div id='videos' data-prototype="{{ form_row(form.videos.vars.prototype, {'row_attr': {'class': 'row mb-3'}})|e('html_attr')}}">
                            <div class="videos row py-3">
                                {% for video in form.videos %}
                                    <div class="col-md-6 mb-3">{{ form_row(video) }}</div>
                                    <div class="col-md-6 mb-3">
                                        {% if video.vars.value.provider == 'youtube' %}{% set path = "https://www.youtube.com/embed/" %}{% endif %}
                                        {% if video.vars.value.provider == 'dailymotion' %}{% set path = "https://www.dailymotion.com/embed/video/" %}{% endif %}
                                        {% if video.vars.value.provider == 'vimeo' %}{% set path = "https://player.vimeo.com/video/" %}{% endif %}
                                        <iframe width='100%' height='100%' src="{{ path }}{{ video.vars.value.videoId }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                    <hr class="my-2">
                                {% endfor %}
                            </div>
                            <span id="video-add" class="row"></span>
                            <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <section id="trick-media" class="m-5 p-3 overflow-auto">
        <div id="media-display" class="row flex-nowrap">
            {% for image in trick.images %}
                <div id="img[{{ image.id }}]" class="col-3 col-md-2">
                    <div class="row preview-div align-items-center">
                        <div class="col-12">
                            <img class="img-fluid" src="{{ asset('uploads/images/tricks/' ~ image.name) }}" alt="{{ image.name }}">
                        </div>
                    </div>
                    {% if app.request.get('_route') != 'app_show_trick' %}
                    <div class="mx-3 mt-3 p-1 border border-dark rounded">
                        <a href="{{ path('app_delete_trick_image', {'id': image.id}) }}" data-delete data-id="{{ image.id }}" data-token="{{ csrf_token('delete' ~ image.id) }}" class="mx-2"><i class="fas fa-trash-alt text-danger"></i></a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            <span id="media-separator" hidden></span>
            {% for video in trick.videos %}
                <div class="col-3 col-md-2">
                    <div class="row preview-div align-items-center">
                        <div class="col-12" id="media_trick_videos_{{ loop.index0 }}">
                            {% if video.provider == 'youtube' %}
                                <iframe src="https://www.youtube.com/embed/{{ video.videoId }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% elseif video.provider == 'dailymotion' %}
                                <iframe src="https://www.dailymotion.com/embed/video/{{ video.videoId }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% elseif video.provider == 'vimeo' %}
                                <iframe src="https://player.vimeo.com/video/{{ video.videoId }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                            {% elseif video.provider == 'facebook' %}
                                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F{{ video.videoId }}&show_text=0&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                            {% endif %}
                        </div>
                    </div>
                    {% if app.request.get('_route') != 'app_show_trick' %}
                    <div class="mx-3 mt-3 p-1 border border-dark rounded">
                        <a href="#" type="button" class="mx-2" data-bs-toggle="modal" data-bs-target="#addVideoModal"><i class="fas fa-pencil-alt text-warning"></i></a>
                        <a href="{{ path('app_delete_trick_video', {'id': video.id}) }}" data-delete-video data-id="{{ video.id }}" data-loop="{{ loop.index0 }}" data-token="{{ csrf_token('delete' ~ video.id) }}" class="mx-2"><i class="fas fa-trash-alt text-danger"></i></a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="description" class="my-5">
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ trick.description | raw }}</p>
                {% if form is defined %}
                <div class="row justify-content-center mb-3">
                    {{ form_row(form.name, {
                        'row_attr': {'class': 'col-12 col-md'},
                        'label': 'Nom de la figure',
                    }) }}
                    <div class="col-12 col-md-auto d-flex direction-row align-items-end">
                        {{ form_row(form.category, {'row_attr': {'class': 'mb-0'}, 'label': 'Catégorie'}) }}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success btn-sm m-1" data-bs-toggle="modal" data-bs-target="#addGroupModal">
                            <i class="fas fa-plus"></i> Ajouter un groupe
                        </button>
                    </div>
                </div>
                {{ form_row(form.description) }}
                {{ form_row(form.save, {
                    'label' : action == 'add' ? 'Créer' : 'Modifier',
                    'row_attr': {'class': 'col-12 col-md-auto text-center mt-4'}
                }) }}

                {{ form_end(form) }}
                {% else %}
                <div class="row justify-content-center">
                    <div class="col-auto"><span class="badge text-bg-primary">Groupe: {{ trick.category.name }}</div>
                    <div class="col-auto"><span class="badge text-bg-primary">Auteur: {{ trick.user }}</div>
                    <div class="col-auto"><span class="badge text-bg-primary">Créé le: {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }}</div>
                    {% if trick.updatedAt and trick.updatedAt != trick.createdAt %}
                        <div class="col-auto"><span class="badge text-bg-primary">Mis à jour le: {{ trick.updatedAt | date('d/m/Y') }} à {{ trick.updatedAt | date('H:i') }}</div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section id="comment-form" class="my-3 mx-5 px-5">
        <hr>
        <h2 class="text-center">Formulaire</h2>
        <hr>
        <h2 class="text-center">Commentaires</h2>
    </section>
</div>

<!-- Add Group Modal -->
{% if groupForm is defined %}
<div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addGroupModalLabel">Nouveau groupe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {{ form_start(groupForm)}}
                <div class="modal-body text-center">
                    {{ form_row(groupForm.name, {
                        'label': 'Nom',
                        'required': false,
                    }) }}
                    {{ form_row(groupForm.description, {
                        'label': 'Description',
                    }) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form_row(groupForm.save, {
                        'attr': {'class': 'btn btn-success', 'data-bs-dismiss': 'modal'},
                        'label': 'Ajouter',
                    }) }}
                </div>
            {{ form_end(groupForm)}}
        </div>
    </div>
</div>
{% endif %}

{% if trick.id %}

    <!-- Delete Miniature Modal -->
    <div class="modal" id="deleteMiniatureModal" tabindex="-1" aria-labelledby="deleteMiniatureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body z-index-1">
                    Êtes-vous sûr de vouloir supprimer cette miniature ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <form action="{{ path('app_delete_miniature', {'id': trick.id}) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Trick Modal -->
    <div class="modal" id="deleteTrickModal" tabindex="-1" aria-labelledby="deleteTrickModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body z-index-1">
                    Êtes-vous sûr de vouloir supprimer cette figure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <form action="{{ path('app_delete_trick', {'id': trick.id}) }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token('deleteTrick') }}">
                        <input type="hidden" name="id" value="{{ trick.id }}">
                        <button type="submit" class="btn btn-danger">Oui</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/images.js') }}" defer></script>
    <script src="{{ asset('build/js/videos.js') }}" defer></script>
    <script src="{{ asset('build/js/details_trick.js') }}" defer></script>
{% endblock %}