{% extends 'base.html.twig' %}
{% import "macros/modals.html.twig" as modals %}

{% block title %}{{ title }}{% endblock %}

{% block _action %}
    <section class="container p-0">
        <div id="trick-header" class="position-relative">
            {% if trick.miniature %}
                <img src="{{ asset('uploads/images/tricks/' ~ trick.miniature) }}" alt="miniature {{ trick.name }}">
            {% else %}
                <img src="{{ asset('core/img/default_mini.png') }}" alt="miniature par défaut">
            {% endif %}
            {% if trick and is_granted('ROLE_USER') and app.user.isVerified() and app.request.get('_route') != 'app_add_trick' %}
                <div class="position-absolute top-0 end-0 m-3 p-1 border border-dark rounded">
                    {% if app.request.get('_route') == 'app_show_trick' %}
                        <a href="{{ path('app_edit_trick', {'slug': trick.slug}) }}" class="btn btn-outline border-0"><i class="fas fa-pencil-alt text-warning"></i></a>
                        <button
                            type="button"
                            class="btn btn-outline border-0"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteTrickModal"
                            data-id="{{ trick.id }}"
                            data-token="{{ csrf_token('deleteTrick' ~ trick.id) }}"
                        >
                            <i class="fas fa-trash-alt text-danger"></i>
                        </button>
                    {% else %}
                        <a
                            href="{{ path('app_change_miniature', {'slug': trick.slug}) }}"
                            class="btn btn-outline border-0 {% if trick.images | length == 0 %}disabled{% endif %}"
                        >
                            <i class="fas fa-pen-to-square text-{% if trick.images | length == 0 %}secondary{% else %}warning{% endif %}"></i>
                        </a>
                        {% if trick.miniature %}
                            <button
                                type="button"
                                class="btn btn-outline border-0"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteMiniatureModal"
                                data-id="{{ trick.id }}"
                                data-token="{{ csrf_token('deleteTrick' ~ trick.id) }}"
                            >
                                <i class="fas fa-trash-alt text-danger"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block body %}
<div class="container mb-5 pb-3">

    {% if form is defined %}
        {% form_theme form 'bootstrap_5_layout.html.twig' %}
        {{ form_start(form, {'attr': {'class': 'text-center py-3'}}) }}
        <div class="row align-items-center justify-content-center">
            <div class="col-auto mb-3">
                <label for="trick_images">{{ 'Add pictures' |trans }}</label>
            </div>
            <div class="col-auto mb-3 me-md-5">
                {{ form_widget(form.images, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-auto mb-3">
                <button type="button" class="btn btn-success {% if videoError != false %}border border-3 border-danger{% endif %} btn" data-bs-toggle="modal" data-bs-target="#addVideoModal"><i class="fas fa-plus"></i> {{ 'Add videos' |trans }}</button>
            </div>
        </div>
        {{ modals.addVideo(form) }}
    {% endif %}

    <section id="trick-media" class="m-5 p-3 overflow-auto">
        {% set media %}
            {% for image in trick.images %}
                <div id="img[{{ image.id }}]" class="col-12 mb-5 col-lg-2">
                    <div class="row preview-div align-items-center">
                        <div class="col-12">
                            <img class="img-fluid" src="{{ asset('uploads/images/tricks/' ~ image.name) }}" alt="{{ image.name }}">
                        </div>
                    </div>
                    {% if app.request.get('_route') != 'app_show_trick' %}
                    <div class="mx-3 mt-3 p-1 border border-dark rounded">
                        <a href="{{ path('app_delete_trick_image', {'id': image.id}) }}" data-delete data-id="{{ image.id }}" data-token="{{ csrf_token('delete' ~ image.id) }}" class="mx-2"><i class="fas fa-trash-alt text-danger"></i></a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            <span id="media-separator" hidden></span>
            {% for video in trick.getVideos() %}
                <div class="col-12 mb-3 col-lg-2">
                    <div class="row preview-div align-items-center">
                        <div class="col-12" id="media_trick_videos_{{ loop.index0 }}">
                            <iframe src="{{ video.getEmbedUrl() }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    {% if app.request.get('_route') != 'app_show_trick' %}
                    <div class="mx-3 mt-3 p-1 border border-dark rounded d-flex justify-content-center">
                        <a href="#" type="button" class="mx-3" data-bs-toggle="modal" data-bs-target="#addVideoModal"><i class="fas fa-pencil-alt text-warning"></i></a>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteVideoModal" data-id="{{ video.videoId }}" data-trick="{{ video.trick.getId() }}" data-loop="{{ loop.index0 }}" class="mx-3 btn btn-outline border-0 p-0"><i class="fas fa-trash-alt text-danger"></i></button>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endset %}
        <div id="media-display" class="row flex-nowrap">
            {{ media | raw }}
        </div>

        {# Mobile media #}
        <div class="row justify-content-center text-center d-lg-none" id="mobile-media-block">
            <div class="col">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-media" aria-expanded="false" aria-controls="mobile-media">
                    {{ 'See media' |trans }}
                </button>
                <div class="collapse mt-3" id="mobile-media">
                    <div class="card card-body">
                        <div class="row">
                            {{ media | raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="description" class="my-5">
        <div class="card py-3">
            <div class="card-body">
                {% if form is defined %}
                <div class="row justify-content-center mb-3">
                    {{ form_row(form.name, {
                        'row_attr': {'class': 'col-12 col-md'},
                        'label': 'Name' |trans,
                    }) }}
                    <div class="col-12 col-md-auto d-flex direction-row align-items-end">
                        {{ form_row(form.category, {'row_attr': {'class': 'mb-0'}, 'label': 'Group' |trans }) }}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success btn-sm m-1" data-bs-toggle="modal" data-bs-target="#addGroupModal">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                {{ form_row(form.description) }}
                {{ form_row(form.save, {
                    'label' : action == 'add' ? 'Add' |trans : 'Edit' |trans,
                    'row_attr': {'class': 'col-12 col-md-auto text-center mt-4'}
                }) }}

                {{ form_end(form) }}
                {% else %}
                <div class="row justify-content-center mb-3">
                <div class="card-text col-auto">{{ trick.description | raw }}</div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto"><span class="badge text-bg-primary">{{ 'Group:' |trans }} {{ trick.category.name }}</div>
                    <div class="col-auto"><span class="badge text-bg-primary">{{ 'Author:' |trans }} {{ trick.user }}</div>
                    <div class="col-auto"><span class="badge text-bg-primary">{{ 'Created at' |trans }} {{ trick.createdAt | date('d/m/Y') }} {{ 'at' |trans }} {{ trick.createdAt | date('H:i') }}</div>
                    {% if trick.updatedAt and trick.updatedAt != trick.createdAt %}
                        <div class="col-auto"><span class="badge text-bg-primary">{{ 'Updated at' |trans }} {{ trick.updatedAt | date('d/m/Y') }} {{ 'at' |trans }} {{ trick.updatedAt | date('H:i') }}</div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>

    {% if app.request.get('_route') == 'app_show_trick' %}
    <section id="comment-form" class="my-3 mx-5 px-5">
        <hr>
        {% if is_granted('ROLE_USER') and app.user.isVerified() %}
            {% form_theme commentForm 'bootstrap_5_layout.html.twig' %}
            {{ form_start(commentForm, {'attr': {'action': path('app_add_comment', {'slug': trick.slug})}}) }}
                <div class="row align-items-center px-3 justify-content-center">
                    <div class="col">
                        {{ form_row(commentForm.text, {'row_attr': {'class': 'm-3'}}) }}
                    </div>
                    <div class="col-auto">
                        {{ form_row(commentForm.submit, {'row_attr': {'class': 'm-3'}}) }}
                    </div>
                </div>
            {{ form_end(commentForm) }}
        <hr>
        {% endif %}
        <div id="comments" class="pt-5">
            <p class="text-end mt-3">
                {% if comments | length == 0 %}
                    {{ 'No comments yet.' |trans }}
                {% elseif comments | length == 1 %}
                    {{ '1 comment' |trans }}
                {% else %}
                    {{ comments | length }} {{ 'comments' |trans }}
                {% endif %}
            </p>
            {% set lastDate = null %}
            {% for comment in comments %}
                <div class="row mb-3 align-items-center" id='comment-{{ comment.id }}'>
                    <div class="col-2 text-center">
                        <img src="{% if comment.user.image %}{{ asset('uploads/images/users/' ~ comment.user.image) }}{% else %}{{ asset('core/img/default-user.png') }}{% endif %}" class="img-fluid rounded-circle user_image shadow w-50">
                    </div>
                    <div class="col border border-dark rounded p-2 pt-3 m-0 shadow-sm position-relative">
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <em>{{ comment.user.getFullName() }}</em>
                            </div>
                            <div class="col-auto">
                                <em>{{ comment.createdAt | date('d/m/Y') }} {{ 'at' |trans }} {{ comment.createdAt | date('H:i') }}</em>
                            </div>
                        </div>
                        <p>{{ comment.text }}</p>
                        {% if is_granted('ROLE_ADMIN') %}
                        <button 
                            data-bs-toggle="modal"
                            data-bs-target="#deleteCommentModal"
                            data-id="{{ comment.id }}"
                            data-token="{{ csrf_token('delete' ~ comment.id) }}"
                            class="position-absolute top-0 start-100 translate-middle btn btn-outline btn-sm border-0 "
                        >
                            <span id="delete-comment-{{ comment.id }}" class="fa-stack" style="font-size: 1rem; vertical-align: top;">
                                <i class="fa-solid fa-circle fa-stack-2x text-danger"></i>
                                <i class="fa-solid fa-times fa-stack-1x text-white"></i>
                            </span>
                        </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                {% if next < comments | length %}
                    <button type="button" id="btnNext" class="btn btn-outline-primary" data-action="{{ path('app_get_comments', {'offset': next, 'slug': trick.slug}) }}">{{ 'Load more' |trans }}</button>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}
</div>

<!-- Add Group Modal -->
{% if groupForm is defined %}
    {{ modals.addGroup(groupForm) }}
{% endif %}

{% if trick.id %}
    <!-- Delete Miniature Modal -->
    {{ modals.confirmDeleteForm(
        'deleteMiniatureModal',
        'Are you sure you want to delete this thumbnail?',
        path('app_delete_miniature', {'slug': trick.slug})
    ) }}
    <!-- Delete Trick Modal -->
    {{ modals.confirmDeleteForm(
        'deleteTrickModal',
        'Are you sure you want to delete this trick?',
        path('app_delete_trick')
    ) }}
    <!-- Delete Video Modal -->
    {{ modals.confirmDelete(
        'deleteVideoModal',
        'Are you sure you want to delete this video?'
    ) }}
    <!-- Delete Comment Modal -->
    {{ modals.confirmDelete(
        'restoreCommentModal',
        'Are you sure you want to delete this comment?'
    ) }}
    <!-- Cancel Delete Comment Modal -->
    {{ modals.confirmDelete(
        'deleteCommentModal',
        'Are you sure you want to cancel the deletion of this comment?'
    ) }}
{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.request.get('_route') != 'app_show_trick' %}
        <script src="{{ asset('build/js/videos.js') }}" defer></script>
        <script src="{{ asset('build/js/images.js') }}" defer></script>
        <script src="{{ asset('build/js/details_trick.js') }}" defer></script>
    {% else %}
        <script src="{{ asset('build/js/comments.js') }}" defer></script>
    {% endif %}

    <script>
        $(document).ready(function() {
            /** Add and Delete video events **/
            $('#deleteVideoModal').on('show.bs.modal', function (event) {
                button = $(event.relatedTarget);
                id = button.data('id');
                trick = button.data('trick');
                loop = button.data('loop');
                inDb = button.data('inDb');
                $('#deleteVideoConfirm')
                    .attr('data-id', id)
                    .attr('data-loop', loop)
                    .attr('data-trick', trick)
                    .attr('data-inDb', inDb)
                ;
            });
            $('#deleteVideoConfirm').click(function(e) {
                id = e.target.dataset.id;
                trick = e.target.dataset.trick;
                loop = e.target.dataset.loop;
                $.ajax({
                    url: "{{ path('app_delete_trick_video') }}",
                    type: 'DELETE',
                    data: {
                        id: id,
                        trick: trick,
                        _token: "{{ csrf_token('deleteVideo' ~ trick.id) }}"
                    },
                    success: function(data) {
                        $('#media_trick_videos_' + loop).parent().parent().remove();
                        $('#trick_videos_' + loop).parent().parent().prev().remove();
                        $('#trick_videos_' + loop).parent().parent().next().remove();
                        $('#trick_videos_' + loop).parent().parent().remove();
                        $('#deleteVideoModal').modal('hide');
                    }
                });
            });
            $('#cancelVideoAdd').click(function(e) {
                id = e.target.dataset.id;
                trick = e.target.dataset.trick;
                loop = e.target.dataset.loop;
                inDb = e.target.dataset.indb;
                $('#media_video_' + loop).remove();
                $('#video_' + loop).next().next().remove();
                $('#video_' + loop).next().remove();
                $('#video_' + loop).remove();
                $('#deleteVideoModal').modal('hide');
            });

            /** Delete and Restore comment events **/
            $('#deleteCommentModal').on('show.bs.modal', function (event) {
            button = $(event.relatedTarget);
            id = button.data('id');
            $('#deleteCommentConfirm').attr('data-id', id);
            });
            $('#deleteCommentConfirm').click(function(e) {
                id = e.target.dataset.id;
                $.ajax({
                    url: "{{ path('app_delete_comment') }}",
                    type: 'DELETE',
                    data: {
                        id: id,
                        _token: "{{ csrf_token('deleteComment' ~ trick.id) }}"
                    },
                    success: function(data) {
                        $('#deleteCommentModal').modal('hide');
                        $('#comment-' + id).addClass('comment-deleted');
                        $('#delete-comment-' + id + ' i:first-child').removeClass('text-danger').addClass('text-secondary');
                        $('#delete-comment-' + id + ' i:last-child').removeClass('fa-times').addClass('fa-ban');
                        $('#comment-' + id + ' button').attr('data-bs-target', '#restoreCommentModal');
                    }
                });
            });
            $('#restoreCommentModal').on('show.bs.modal', function (event) {
                button = $(event.relatedTarget);
                id = button.data('id');
                $('#restoreCommentConfirm').attr('data-id', id);
            });
            $('#restoreCommentConfirm').click(function(e) {
                id = e.target.dataset.id;
                $.ajax({
                    url: "{{ path('app_restore_comment') }}",
                    type: 'POST',
                    data: {
                        id: id,
                        _token: "{{ csrf_token('restoreComment' ~ trick.id) }}"
                    },
                    success: function(data) {
                        $('#restoreCommentModal').modal('hide');
                        $('#comment-' + id).removeClass('comment-deleted');
                        $('#delete-comment-' + id + ' i:first-child').removeClass('text-secondary').addClass('text-danger');
                        $('#delete-comment-' + id + ' i:last-child').removeClass('fa-ban').addClass('fa-times');
                        $('#comment-' + id + ' button').attr('data-bs-target', '#deleteCommentModal');
                    }
                });
            });
        });
    </script>

{% endblock %}
